<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Register Car</title>
    <link rel="stylesheet" th:href="@{/CSS/account-layout.css}" type="text/css">
</head>
<body>
<ul th:replace="page-layout :: userNavBar"></ul>
<div class="container">
    <h3>Register Your Car</h3>
    <p>You may register your car here</p>

    <form method="POST" th:action="@{/user/registercar/register}" th:object="${car}" style="width: 100%;; height: 400px;">
        <label for="carName">Car Name</label><br>
        <input id="carName" name="carName" required="required" th:field="${car.carName}" type="text" style="width: 80%;"><br>

        <label for="owner">Owner</label><br>
        <input id="owner" name="owner" required="required" th:field="${car.owner}" type="text" style="width: 80%;"><br>

        <label for="releaseYear">Release Year</label><br>
        <input id="releaseYear" name="releaseYear" required="required" th:field="${car.releaseYear}" type="number" style="width: 80%;"><br>

        <label for="edition">Edition</label><br>
        <input name="edition" required="required" th:field="${car.edition}" type="number" style="width: 80%;"><br>

        <input type="hidden" id="carHasReviewed" name="carHasReviewed" th:field="${car.carHasReviewed}" value="false">
        
        <div style="margin-top: 1rem;">
            <!-- once click, will: -->
            <!-- employee will review -->
            <!-- if pass, add the car in "cars" table -->
            <!-- if fail, notify user -->
            <input type="submit" value="Register">
        </div>
    </form>
</div>
</body>
</html>