<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Review Car</title>
    <link rel="stylesheet" th:href="@{/CSS/account-layout.css}" type="text/css">
</head>
<body>
<ul th:replace="page-layout :: employeeNavBar"></ul>
<div class="container">
    <h3>Car info</h3>

    <!-- change boolean value for carHasReviewed to true
    added remarks -->

    <!-- <div class="row">
        <div class="col-50">
            Car Name:
        </div>
        <div class="col-75">
            <text th:text="${car.carName}">
        </div>
    </div>

    <div class="row">
        <div class="col-50">
            Owner:
        </div>
        <div class="col-75">
            <text th:text="${car.owner}"/>
        </div>
    </div>


    <div class="row">
        <div class="col-50">
            Release Year:
        </div>
        <div class="col-75">
            <text th:text="${car.releaseYear}">
        </div>
    </div>

    <div class="row">
        <div class="col-50">
            Edition:
        </div>
        <div class="col-75">
            <text th:text="${car.edition}">
        </div>
    </div> -->

</div>
</body>
</html>